NODE_ENV=
PORT=

AI_API_KEY=
AI_MODEL=
# Ao usar Ollama
# http://ollama:11434/v1/chat/completions se o backend estiver no Docker
# http://localhost:11434/v1/chat/completions se o backend NÃO estiver no Docker
AI_API_URL=
